

    .general-component--item {
        background: #0f246a !important;
    }

    .arrow_box {
        margin-bottom: 0.5rem;
    }

.topic-header {

    div {
        h2, p , i{
            color: yellow;
        }
    }

}

    h2, p {
        text-align: center;
    }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    position: relative;
    margin-bottom: 1rem;
    &:after,
    &:before {
        z-index: 1;
        position: absolute;
        content: "";
        bottom: 10px;
        left: 2px;
        width: 50%;
        top: 80%;
        box-shadow: 0 15px 10px #777;
        transform: rotate(-3deg);
    }
  
    &:after {
      right: 2px;
      left: auto;
      transform: rotate(3deg);
    }
}

@media only screen and (min-width: 600px) {
  .posts {

    
    &:after,
    &:before {
      bottom: 16px;
      width: 38%;
      top: 50%;
    }
  
    &:after {

      
    }
}
     }

     @media only screen and (min-width: 1550px) {
      .posts {
    
        
        &:after,
        &:before {
          width: 25%;
        }
      
        &:after {
    
          
        }
    }
         }

    //  @media only screen and (min-width: 320px) and (orientation: landscape) {
    //     .posts {
        
      
    //       &:after {
    //           right: 18px;
    //       }
    //     }
    //      }


// @media only screen and (min-width: 480px) and (orientation: portrait) {
//     .posts {
//         width: 97vw;

//         &:after {
//             left: 44%;
//           }
//     }
//   }

//   @media only screen and (min-width: 800px) {
//     .posts {
    
//       &:after,
//       &:before {
//         top: 77%;
//           transform: rotate(-2deg);
//       }
  
//       &:after {
//         transform: rotate(2deg);
//       }
//     }
//      }
