<div class="main">
  
  <div *ngIf="!editMode" class="general-component--item general-component--list topic-header">
    <div class="general-component--item-icon">
        <i class="material-icons">
              <!-- {{forumCategory.icon}} -->
              icon
            </i>
            <!-- views: {{forumCategory.visitsCount}} -->
            <p>views: 40</p> 
            <div class="settings">
             <i class="material-icons" (click)="checkEditMode()">settings</i> 
             <i class="material-icons" (click)="deleteSection()">delete_sweep</i> 
            </div>
      </div>
      <div class="general-component--item-desc">
        <!-- <h2> <a (click)="openForumList(forumCategory._id)">{{forumCategory.title}}</a></h2>
        <p>{{forumCategory.description}}</p> -->
        <h2> <a >Header Title</a></h2>
        <p>description</p>
      </div>
      <div class="general-component--item-postCount">
          <h2>45</h2>
          <p>replies</p>
      </div>
      <div class="general-component--item-lastPost">
          <p>Last comment by < name > in on < post date ></p>
      </div>
  </div>

  <hr>

  <div class="general-component--list" >
    <!-- <div [ngClass]="{'evenStyle': (i % 2) === 0, 'oddStyle': (i % 2) !== 0}" > *ngFor="let forumList of generalCategory; index as i" -->
      <app-post-item></app-post-item>
    </div>
</div>