
    .general-component--item {
        background: #0f246a !important;
    }

    h2, p , i{
        color: yellow;
    }

    h2, p {
        text-align: center;
    }

form {
    display: flex;
    flex-direction: column;
}