<div class="main">



  <li (click)="show('created')">Created events</li>
  <p *ngIf="user?.createdEvent.length <= 0"> No created events</p>
 
        <div class="events"  *ngFor="let event of user?.createdEvent" [@shrinkDownUp]="createdEvents_animation_state">
                <div [ngClass]="{'ended': checkForEndedStatus(event.eventDate), 'soon': chekForEventWillBeSoon(event.eventDate)}"
                  class="events_container">
                  <div class="events_container--image"><img src="{{event.picture}}" alt=""></div>
                  <div> <a [routerLink]="['/events', event._id]" routerLinkActive="router-link-active">{{event.title}}</a></div>
                </div>
        </div>

  <li (click)="show('attempts')">Attempt events history</li>
  <p *ngIf="user?.eventWillAttempt.length <= 0"> No events will attempt</p>
  
  <div  class="events"  *ngFor="let event of user?.eventWillAttempt" [@shrinkDownUp]="attemptEvents_animation_state">
    <div [ngClass]="{'ended': checkForEndedStatus(event.eventDate), 'soon': chekForEventWillBeSoon(event.eventDate)}"
      class="events_container">
      <div class="events_container--image"><img src="{{event.picture}}" alt=""></div>
      <div> <a [routerLink]="['/events', event._id]" routerLinkActive="router-link-active">{{event.title}}</a></div>
    </div>
  </div>

  

  <div class="main" *ngIf="current_user_id === user_id"  >
     
  <hr>

    <li class="list">Private Events List</li>

    <li (click)="show('privateCreatedEvents')">Private created events history</li>
    <p *ngIf="privatUserInfo?.createdEvent.length <= 0"> No private events created</p>
    
    <div class="events" *ngFor="let event of privatUserInfo?.createdEvent" [@shrinkDownUp]="privateCreatedEvents_animation_state">
      <div [ngClass]="{'ended': checkForEndedStatus(event.eventDate), 'soon': chekForEventWillBeSoon(event.eventDate)}"
        class="events_container">
        <div class="events_container--image"><img src="{{event.picture}}" alt=""></div>
        <div> <a [routerLink]="['/events', event._id]" routerLinkActive="router-link-active">{{event.title}}</a></div>
      </div>
    </div>
  </div>



</div>
