@import '../../../global-css/variables';


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.private {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

li {
    width: 70%;
    text-align: center;
    height: 100%;
    padding: 10px;
    margin: 1rem;
    background: $darkBlue;
    color: white;
    list-style-type: none;

    &.active {
      background: #42528b;
    }

    &:first-of-type {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &:last-of-type {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &.opened {
        border: 2px solid #0edb7f;
    }

  }

hr { 
    background: #0e2369;
    width: 83%;
    height: 1px;
  } 

.events {
    width: 60%;
}

.list {
    color: yellow;
}

.events_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    background: $darkBlue;
    
    .events_container--image {
        height: 50px;
        width: 50px;
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;

    }

    div {
        width: 100%;
        text-align: center;

        &>a {
            color: white;
        }
    }
    
    &.ended::after {
        position: absolute;
        content: 'Ended';
        top: 0;
        right: -10px;
        transform: rotateZ(15deg);
        text-align: center;
        width: 50px;
        height: 15px;
        background: $highlightBlue;
        color: #ed2c2c;
    }

    &.soon::after {
        position: absolute;
        content: 'Starting soon';
        top: 2px;
        right: -14px;
        -webkit-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
        text-align: center;
        width: 100px;
        height: 19px;
        background: #3f8c6b;
        color: #ffffff;
    }

}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}