<div class="main">

  <div>

      <button *ngIf="!searchEventModule" type="button" (click)="searchEventMenu()">Filters</button> 

    <form [formGroup]="eventSearchForm" (ngSubmit)="searchEvent()" *ngIf="searchEventModule" > 

        <button type="button" (click)="searchEventMenu()">Close</button>  

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Search by date of Event" formControlName="eventDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field>
              <mat-select placeholder="Search by the Distance" formControlName="dist">
                <mat-option *ngFor="let distanceValue of distances" [value]="distanceValue.value">
                  {{ distanceValue.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <button type="button" (click)="clearSearchBox()">Clear filter</button>    
          <button type="submit">search</button>
    </form>
  </div>



  <div class="event-list">
    <div class="event-list--noEvents" *ngIf="events.length === 0">
      <h2>Sorry, no Event are found.</h2>
      <h4>Try different filter settings!</h4>
    </div>

    <div class="event-list__element" *ngFor="let event of events; let index = 'index'">


      <div class="event-list--grid ">
        <div class="event-list--image"><img src="{{ event?.picture }}" alt=""></div>
        <div class="event-list--title">
          <h1 (click)="openEvent(event?.id)"> <span class="spanInfo">Where </span> {{ event?.title }}</h1>
        </div>

        <div class="event_list--detail">
          <div> <span class="spanInfo">When</span>
            <p>{{ event?.eventDate | date : 'MMMM' }} </p>
            <p>{{ event?.eventDate | date: 'dd' }} </p>
            <p>{{ event?.eventDate | date: 'yyyy' }} </p>
          </div>
          <div> <span class="spanInfo">Dist</span>
            <p>{{ event?.distance }}</p>
          </div>
          <div> <span class="spanInfo">Pace</span>
            <p>{{ event?.pace }}</p>
          </div>
        </div>

      </div>
    </div>

    <!-- <mat-paginator [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
      *ngIf="events.length > 0"></mat-paginator> -->

  </div>

  <app-paginator [pager]="pager" (page)="setPage($event)"></app-paginator>

</div>