<div class="main">
  <!-- <div class="events_add_module" *ngIf="addEventModule">
    <form [formGroup]="eventForm" (ngSubmit)="addEvent()">

      <mat-form-field>
        <input matInput placeholder="Location" formControlName="location">
        <mat-hint>The location of the event!</mat-hint>
        <mat-error *ngIf="eventForm.get('location').errors">Location is requied</mat-error>
      </mat-form-field>


      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-hint>Location description!</mat-hint>
        <mat-error *ngIf="eventForm.get('description').errors">Description is requied</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select the Distance" formControlName="distance">
          <mat-option *ngFor="let distanceValue of distances" [value]="distanceValue">
            {{ distanceValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Pace" formControlName="pace">
        <mat-hint></mat-hint>
        <mat-error *ngIf="eventForm.get('pace').errors">Pace is requied</mat-error>
      </mat-form-field>

      <button type="button" (click)="filePicker.click()">Add photo</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">

      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" alt="avatar">
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date of Event" formControlName="eventDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <div class="formButtons">
        <button type="submit">Add event</button>
        <button type="button" (click)="addEventMenu()">Wait</button>
      </div>

    </form>
  </div>
  <div>
    <button (click)="addEventMenu()" *ngIf="!addEventModule">Add Event</button>
  </div> -->

  <div>

      <button *ngIf="!searchEventModule" type="button" (click)="searchEventMenu()">Filters</button> 

    <form [formGroup]="eventSearchForm" (ngSubmit)="searchEvent()" *ngIf="searchEventModule" > 

        <button type="button" (click)="searchEventMenu()">Close</button>  

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Search by date of Event" formControlName="eventDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field>
              <mat-select placeholder="Search by the Distance" formControlName="dist">
                <mat-option *ngFor="let distanceValue of distances" [value]="distanceValue.value">
                  {{ distanceValue.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <button type="button" (click)="clearSearchBox()">Clear filter</button>    
          <button type="submit">search</button>
    </form>


  </div>



  <div class="event-list">
    <div class="event-list__element" *ngFor="let event of events; let index = 'index'">

      <div class="event-list--grid ">
        <div class="event-list--image"><img src="{{ event?.picture }}" alt=""></div>
        <div class="event-list--title">
          <h1 (click)="openEvent(event?.id)"> <span class="spanInfo">Where </span> {{ event?.location }}</h1>
        </div>
        <!-- <div class="event-list--likes-and-attempts" > 
            <mat-icon matBadge="{{ event?.likes.length }}" matBadgeColor="warn"> thumb_up </mat-icon> 
            <mat-icon matBadge="{{ event?.runners.length }}" matBadgeColor="warn"> directions_run </mat-icon> </div> 
           </div> -->

        <div class="event_list--detail">
          <div> <span class="spanInfo">When</span>
            <p>{{ event?.eventDate | date : 'MMMM' }} </p>
            <p>{{ event?.eventDate | date: 'dd' }} </p>
            <p>{{ event?.eventDate | date: 'yyyy' }} </p>
          </div>
          <div> <span class="spanInfo">Dist</span>
            <p>{{ event?.distance }}</p>
          </div>
          <div> <span class="spanInfo">Pace</span>
            <p>{{ event?.pace }}</p>
          </div>
        </div>

      </div>
    </div>

    <mat-paginator [length]="totalEvents" [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
      *ngIf="events.length > 0"></mat-paginator>





  </div>
