@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import '../../global-css/variables';

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
      background: white;
      transform: scale(0.7) translateY(-73px);
}

.formSearch {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow_box {
  margin-top: 1rem;
}


@media only screen and (min-width: 480px){
  form {
        transform: scale(1) translateY(0px);
  }
}




