<div class="main">
    <div class="events_add_module" *ngIf="addEventModule"> 
            <form  [formGroup]="eventForm" (ngSubmit)="addEvent()">

                <label for="location">Location</label>
                <input type="text"   placeholder="location" formControlName="location" id="location">
 
                <label for="distance">Distance</label>
                <input type="number"    placeholder="Distance" formControlName="distance" id="distance">
              
                <label for="pace">Pace</label>
                <input type="text" placeholder="Pace" formControlName="pace" id="pace">
              
                
                <button  type="button" (click)="filePicker.click()">Add event photo</button>
                <input type="file" #filePicker (change)="onImagePicked($event)">

                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                    <img [src]="imagePreview" alt="avatar">
                </div>

                <label for="eventDate">Date of Event</label>
                <input type="date" placeholder="eventDate" formControlName="eventDate" id="eventDate">
              
                <div>
                  <button type="submit" >Add event</button>
                  <button type="button" (click)="addEventMenu()">No Yeat</button>
                </div>
                
              </form>
    </div>

    <div>
      <button (click)="addEventMenu()" *ngIf="!addEventModule">Add Event</button>
    </div>

    <div class="event-list" >
      <div class="event-list__element" *ngFor="let event of events">
        <h1 [routerLink]="['/events/' + event?.id]" >{{ event?.location }}</h1>
      </div>
    </div>

    <mat-paginator [length]="totalEvents"  [pageSize]="eventsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
    *ngIf="events.length > 0"></mat-paginator>


</div>