@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import '../../global-css/variables';

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  // background: linear-gradient(to bottom, #222629, #272c30);
  background: #e9ebee;
  justify-content: start;
  align-items: center;


}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0 20%;
  border-radius: 5%;
      background: white;
}









