@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import '../../global-css/variables';

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
      background: white;
}








