
.pagination {
    list-style: none;
    padding: 10px;
    font-size: 1rem;
    background: rgba( 0, 0, 0, .2 );
    display: inline-block;
    border-radius: 15px;
    margin-bottom: 2rem;
    li {
        display: inline-block;
        padding: 0 5px;
        line-height: 15px;  //change for manipulating the size for screens
        background: #3498db;
        position: relative;
        border: 0 #3498db;
        // @include transition( background .25s, border-color .25s, margin .125s );
        

        +li {
            margin-left: 9px; //change for manipulating the size for screens
        }

        &:hover {
            background: #7493da;
            border-color: #7493da;
            margin-left: 55px;
            margin-right: 10px;
            cursor: pointer;
        }

        &.disabled {
            background: #989898;
            border-color: #989898;
            margin-left: 55px;
            margin-right: 10px;
            cursor: not-allowed;
        }

        &.active {
            background: #2c58ee;
            border-color: #2c58ee;
            color: yellow;
            margin-left: 55px;
            margin-right: 10px;
            cursor: not-allowed;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          border: 7.5px solid transparent; //change for manipulating the size for screens
          border-right: 0;
          top: 0;
        }

        &:before {
            right: 100%;
            border-top-color: inherit;
            border-bottom-color: inherit;
          }
          
          &:after {
            left: 100%;
            border-left-color: inherit;
          }

          &:first-child {
            border-radius: 10px 0 0 10px;
            padding-left: 10px;
            margin-left: 0;
            
            &:before {
              content: none;
            }
          }
          
          &:last-child {
            border-radius: 0 10px 10px 0;
            padding-right: 10px; //change for manipulating the size for screens
            margin-right: 0;
            
            &:after {
              content: none;
            }
          }
    }
}