<div class="event-list-main">
  <div class="main">
    <div class="navigation">
      <ul>
        <li><a>Main</a></li>
      </ul>
    </div>

    <div class="category">
      <app-general-category></app-general-category>
    </div>
    <div class="category">
      <app-users-category></app-users-category>
    </div>

  </div>

  <div class="adve">
    <div class="ad">
      <p>
        Your ad here!
      </p>
    </div>

    <div class="ad">
      <p>
        Your ad here!
      </p>
    </div>
  </div>
</div>
