
<div class="event-list-main">
    <div class="main">

        <div class="navigation">
         <ul *ngIf="post">
             <li [routerLink]="['/forum']"><a>main</a></li>
             <!-- <i class="material-icons">
                 code
                 </i>           -->
             <li [routerLink]="['/forum', post?.topic._id]"><a>{{post?.topic.title}}</a></li>
             <!-- <i class="material-icons">
                 code
                 </i>   -->
             <li class="active"><a>{{post?.title}}</a></li>
         </ul>
        </div>
 
     <form class="general-add" *ngIf="editMode" [formGroup]="updatePostForm" (ngSubmit)="updatePost()">
 
 
         <mat-form-field>
           <input matInput placeholder="Title" formControlName="title">
           <mat-hint>The title of the section!</mat-hint>
           <mat-error *ngIf="updatePostForm.get('title').errors">Title is requied</mat-error>
         </mat-form-field>
     
         <mat-form-field>
           <textarea matInput cols="30" rows="4" placeholder="Description" formControlName="description"></textarea>
           <mat-hint>The description of the section!</mat-hint>
           <mat-error *ngIf="updatePostForm.get('description').errors">Description is requied</mat-error>
         </mat-form-field>
     
         <mat-form-field>
           <textarea matInput cols="30" rows="4" placeholder="Content" formControlName="content"></textarea>
           <mat-hint>The content of the section!</mat-hint>
           <mat-error *ngIf="updatePostForm.get('content').errors">Content is requied</mat-error>
         </mat-form-field>
     
     
         <button class="arrow_box solid" type="submit">Update</button>
         <button class="arrow_box solid" (click)="updateModeToggle()">Cancel</button>
       </form>
 
   <div *ngIf="!editMode" class="general-component--item">
     <div class="general-component--item-icon">
         <div class="item-image">
           <img src="{{post?.author.imagePath}}" alt="author avatar">
         </div>
             <p>views: {{post?.visitsCount}}</p>
             <div class="settings"  *ngIf="userId === post?.author._id">
              <i class="material-icons" (click)="updateModeToggle()">settings</i> 
              <i class="material-icons" (click)="deletePost()">delete_sweep</i> 
             </div>
       </div>
       <div class="general-component--item-desc">
         <h2> <a>{{post?.description}}</a></h2>
         <p>{{post?.content}}</p>
       </div>
       
   </div>
   <form  class="add-comment" [formGroup]="addCommentForm" (ngSubmit)="addCommentToThePost()">
     <mat-form-field>
         <textarea matInput placeholder="Content" formControlName="content"></textarea>
         <mat-error *ngIf="addCommentForm.get('content').errors">Content is required</mat-error>
       </mat-form-field>
       <button class="sendMessage" type="submit"><i class="material-icons">
         send
         </i></button>
   </form>
 
 
   <div [ngClass]="{'evenStyle': (i % 2) === 0, 'oddStyle': (i % 2) !== 0}" *ngFor="let comment of postComments; index as i"> 
       
     <div class="comment">
         <app-post-comment [comment]="comment" [postId]="post_id" (comments)="updateComments($event)"></app-post-comment>
     </div>
     
   </div>
 
   <!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->
 
   <app-paginator [pager]="pager" (page)="setPage($event)"></app-paginator>
 </div>
 <div class="advertisement">
    <div class="ad">
      <p>
        Your ad here!
      </p>
    </div>

    <div class="ad">
      <p>
        Your ad here!
      </p>
    </div>
  </div>
</div>