@import '../../../global-css/variables';


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_title {
    text-align: center;
}

.user_sub {
    align-self: center;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;

    li {
      width: 100%;
      text-align: center;
      height: 100%;
      padding: 10px;
      background: $darkBlue;
      color: white;
      outline: none;

      &.active {
        background: #42528b;
      }

    }
  }