<div class="main">

    <div class="list-container">

    <!-- [ngClass]="{'ended': checkForEndedStatus(event.eventDate)}" -->

    <li (click)="show('following')" [ngClass]="{'opened': following_animation_state == 'down'}">Followers</li>

    <p *ngIf="user?.followers.length <= 0"> No Followers</p>
  
    <div class="users" *ngFor="let follower of user?.followers" [@shrinkDownUp]="following_animation_state">
        <div class="user_container">
            <div class="user_container--image"><img src="{{follower.imagePath}}" alt=""></div>
           <div> <a [routerLink]="['/userpage', follower._id, 'info']" routerLinkActive="router-link-active" >{{follower.username}}</a></div> 
          </div>
    </div>

    <hr>
  
    <p *ngIf="user?.following.length <= 0 "> You are not following anyone</p>
  
    <div class="users" *ngFor="let following of user?.following" [@shrinkDownUp]="followers_animation_state">
      <div class="user_container">
        <div class="user_container--image"><img src="{{following.imagePath}}" alt=""></div>
       <div><a [routerLink]="['/userpage', following._id, 'info']" routerLinkActive="router-link-active" >{{following.username}}</a></div> 
      </div>
    </div>
  
    <li (click)="show('followers')" [ngClass]="{'opened': followers_animation_state == 'down'}">Following</li>


    </div>


</div>