@import '../../global-css/variables';

:host-context(.evenStyle) .general-component--item {
    background: $evenColor;
    
}

:host-context(.oddStyle) .general-component--item {
    background:  $oddColor;
}

.general-add {
    display: flex;
    flex-direction: column;
    width: 235px;
}

mat-form-field {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: $darkBlue;

    &:hover {
        cursor: pointer;
    }
}

