@import '../../global-css/variables';

:host-context(.evenStyle) .general-component--item {
    background: #7289d652;
}

:host-context(.oddStyle) .general-component--item {
    background:  #a8b9e0;
}

.general-add {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $darkBlue;

    &:hover {
        cursor: pointer;
    }
}