<div class="avatar-container" *ngIf="!form.get('image').valid">
    <img src="{{ user?.imagePath }}" alt="avatar">
</div>

<div class="add_avatar-button" >
      
        <form [formGroup]="form" (submit)="uploadAvatar()">
  
              <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                  <img [src]="imagePreview" alt="avatar">
              </div>
  
              <button  type="button" (click)="filePicker.click()">Change the avatar</button>
              <input type="file" #filePicker (change)="onImagePicked($event)">
  
              <button *ngIf="form.get('image').valid" type="submit">Upload avatar</button>
        </form>
  
    </div>

<div class="userpage-main">
  <h1>  Full Name: {{ user?.firstName }} {{ user?.lastName }}  </h1>



  <div>
      username: {{ user?.username }}
  </div>
  <div>
      email:  {{ user?.email }}
  </div>
  registration Date: {{ user?.createdAt }}
  <div>
      dob:  {{ user?.dob }}
  </div>
<div>
    <button (click)="deleteUser()" >Delete User</button>
    <button (click)="freindManipulation()" >Follow</button>
</div>
  
</div>
<!-- <button (click)="UserProfile()">User Profile</button> -->