@import '../../../global-css/variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $backgroundColor;
  height: 100%;
  margin-bottom: 2rem;
}

.userpage-main {
  display: flex;
  width: 95%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
}

.avatar-container{

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100%;
  .image_asPicker {
    position: absolute;
    bottom: 0;
    left: 1%;
    color: white;
    width: 100%;
    height: 5%;
    z-index: 2;
  }
  h1 {
    position: absolute;
    color: $darkBlue;
    width: 100%;
    text-align: center;
    margin: 0;
    text-shadow: 0px 3px 20px #3a50d9, 0px 1px 19px #0a0e27;
  }
  img {
    width: 100%;
  }
}

.add_avatar-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

}

nav {
  width: 100%;

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;

    li {
      width: 33%;
      text-align: center;
      height: 100%;
      padding: 10px;
      background: $darkBlue;
      color: white;
      outline: none;

      &.active {
        background: #42528b;
      }

    }
  }
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
}

input[type="file"] {
  visibility: hidden;
  width: 0;
}



.image-preview {
  width: 100%;

  img {
    width: 100%;
  }
}


@media screen and (min-width: 600px) {
  .avatar-container {
    width: 80%;
  }
 }

 @media screen and (min-width: 1000px) {
  .avatar-container {
    width: 40%;
  }
 }