<div class="main">

  <div class="avatar-container" *ngIf="!form.get('image').valid" >
  <div class="image_asPicker" *ngIf="user_id === current_user_id" (click)="filePicker.click()"></div>
  <h1 class="user_title">{{ user?.firstName }} {{ user?.lastName }} </h1>
    <img src="{{ user?.imagePath }}" alt="avatar">
  </div>

  <!-- <div class="add_avatar-button" > -->

  <form [formGroup]="form" (submit)="uploadAvatar()">

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" alt="avatar">
    </div>

    <!-- <button  type="button" (click)="filePicker.click()">Change the avatar</button> -->
    <!-- <span>Change the avatar : </span>  <mat-icon  (click)="filePicker.click()" > image_search </mat-icon> -->
    <input type="file" #filePicker (change)="onImagePicked($event)">

    <button *ngIf="form.get('image').valid" type="submit">Upload avatar</button>

  </form>

  <!-- </div> -->

  <div class="userpage-main">

    <nav>
      <ul>
        <li routerLink="info" routerLinkActive="active"><a >Info</a></li>
        <li routerLink="friends" routerLinkActive="active"><a>Followers</a></li>
        <li routerLink="activity" routerLinkActive="active"><a>Activity</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>

  </div>
  <!-- <button (click)="UserProfile()">User Profile</button> -->
</div>
