<div class="main">

  <!-- ///////////////////////////////////////
                  EVENT SHOWCASE SECTION   
   ///////////////////////////////////////////-->

  <div class="event-back-edit-delete-container">
    <div class="event-back-photoChange">
      <mat-icon routerLink="/events" class="back_icon"> settings_backup_restore </mat-icon>
    </div>
    <div *ngIf="creatorId === userId" class="event-detail--setings">
      <mat-icon class="event_detail--mat-icon-setings" (click)="onEventEdit()"> settings </mat-icon>
      <mat-icon class="event_detail--mat-icon-delete" (click)="deleteEvent()"> delete_sweep </mat-icon>
    </div>
  </div>

  <div class="event_detail--image-container"> 
    <img src="{{ event?.picture }}" alt="">

    <div class="event-detail--likes-and-attempts">
      <mat-icon [class.contains]="containsLike" class="event_detail--mat-icon" matBadge="{{ event?.likes.length }}"
        (click)="likeEvent()" matBadgeColor="warn"> thumb_up </mat-icon>
      <mat-icon [class.contains]="containsEvent" class="event_detail--mat-icon" matBadge="{{ event?.runners.length }}"
        (click)="takePart()" matBadgeColor="warn"> directions_run </mat-icon>
    </div>
  </div>

 
  <div class="event-description-commentSection">


      <app-google-map [location]="event?.location" style="display: contents;"></app-google-map>


 

    <div class="event-description">

      <div class="event-description--content">
        <p>{{event?.location}}</p>
      </div>

      <div class="event-description--desc">
        <p>
          {{ event?.description }}
        </p>
      </div>

      <div class="event-description--creator-when">
          <div> Posted By <a [routerLink]="['/userpage', creatorId, 'info']">{{ eventCreatorName }}</a></div>
          <div> {{ eventCreatedAt }} </div>
        </div>
      <div class="event-ditail-list">

        <div><span class="spanInfo">DISTANCE</span>
          <p>{{event?.distance}}</p>
        </div>

        <div><span class="spanInfo">DATE</span>
          <p>{{ event?.eventDate | date : 'MMMM' }} </p>
          <p>{{ event?.eventDate | date: 'dd' }} </p>
          <p>{{ event?.eventDate | date: 'yyyy' }} </p>
        </div>

        <div><span class="spanInfo">PACE</span>
          <p>{{event?.pace}}</p> 
        </div>

      </div>

    </div>




    <!-- ///////////////////////////////////////
                     COMMENT SECTION   
     ///////////////////////////////////////////-->



    <div class="comments_main">
      <h1>comments</h1>

      <div >
        <form [formGroup]="commentForm" (ngSubmit)="add_Comment()">

          <mat-form-field>
              <textarea matInput placeholder="Content" formControlName="content"></textarea>
              <mat-error *ngIf="commentForm.get('content').errors"></mat-error>
            </mat-form-field>

            <button type="submit">Post</button>
            <button (click)="showCommentInputArea()">Cancel</button>

        </form>
      </div> 

      <div class="event_detail--comments" >
        <button (click)="showCommentInputArea()">Add comment</button>

        <div class="viewport" ui-scroll-viewport>

          <div *uiScroll="let comment of datasource; let index = index">

            <app-comment *ngIf="!commentDeleted" [comment]="comment" [eventId]="eventId"></app-comment>

            

          </div>
        </div>


      </div>
    </div>


  </div>

</div>
