<div class="event_detail">

    <!-- ///////////////////////////////////////
                  EVENT SHOWCASE SECTION   
   ///////////////////////////////////////////-->


    <div class="event_detail--image-container" *ngIf="!edit">
        <img src="{{ event?.picture }}" alt="">



        <mat-icon routerLink="/events" class="back_icon" > settings_backup_restore </mat-icon> 

         <div class="event-detail--likes-and-attempts" > 
            <mat-icon [class.contains]="containsLike" class="event_detail--mat-icon" matBadge="{{ event?.likes.length }}" (click)="likeEvent()" matBadgeColor="warn"> thumb_up </mat-icon> 
            <mat-icon [class.contains]="containsEvent"  class="event_detail--mat-icon"  matBadge="{{ event?.runners.length }}" (click)="takePart()" matBadgeColor="warn"> directions_run </mat-icon> 
          </div> 

          <div *ngIf="creatorId === userId" class="event-detail--setings">
              <mat-icon class="event_detail--mat-icon-setings" (click)="update()"> settings </mat-icon>  
              <mat-icon class="event_detail--mat-icon-delete" (click)="deleteEvent()"> delete_sweep </mat-icon>  
          </div>


           
      </div>



  <div class="event-description" *ngIf="!edit">

    <div class="event-description--content">
      <h3>Event location:</h3> 
      <p>{{event?.location}}</p>
    </div>

    <div class="event-description--content">
        <h3>Event distance:</h3> 
        <p>{{event?.distance}} km</p>
      </div>

      <div class="event-description--content">
          <h3>Event date:</h3> 
          <p>{{event?.eventDate}}</p>
        </div>

        <div class="event-description--content">
            <h3>Event Pace:</h3> 
            <p> {{event?.pace}}</p>
          </div>

          <div class="event-description--content">
              <p>Creator of the event: </p> <a [routerLink]="['/userpage', creatorId]">{{ eventCreatorName }}</a>
            </div>





  </div>

    <!-- ///////////////////////////////////////
                   UPDATE EVENT SECTION   
   ///////////////////////////////////////////-->




  <div class="events_add_modul" *ngIf="edit">
    <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">


        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview"> 
            <img [src]="imagePreview" alt="avatar">
        </div>



        <div class="inputContainer">
            <input [class.active]="eventForm.get('location').value?.length" type="text" formControlName="location" id="location">
            <label for="location" class="label-name">
            <span class="content-name">Location</span>
            <span class="error-name">Please enter location!</span>
            </label>
        </div>

        <div class="inputContainer">
            <input [class.active]="eventForm.get('distance').value?.length" type="number" formControlName="distance" id="distance">
            <label for="distance" class="label-name">
            <span class="content-name">distance in km</span>
            <span class="error-name">Please enter distance!</span>
            </label>
        </div>

        <div class="inputContainer">
            <input [class.active]="eventForm.get('pace').value?.length" type="text" formControlName="pace" id="pace">
            <label for="pace" class="label-name">
            <span class="content-name">Pace</span>
            <span class="error-name">Please enter pace!</span>
            </label>
        </div>


        <button  type="button" (click)="filePicker.click()">Change photo</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">


        <div class="eventDate">
            <label for="eventDate">Date of Event</label>
            <input type="date" placeholder="eventDate" formControlName="eventDate" id="eventDate">
        </div>
  
      <div class="formButtons">
        <button type="submit">Update event</button>
        <button (click)="update()">Cancel</button>
      </div>

    </form>
  </div>

  <hr>

  <!-- ///////////////////////////////////////
                   COMMENT SECTION   
   ///////////////////////////////////////////-->

  <div class="comments_main">
    <h1>comments</h1>

    <div *ngIf="commentInputArea">
      <form [formGroup]="commentForm" (ngSubmit)="add_Comment()">

        <label for="content">Comment:</label>
        <textarea formControlName="content" id="content" cols="30" rows="10"></textarea>

        <div>
          <button type="submit">Post</button>
          <button (click)="showCommentInputArea()">Cancel</button>
        </div>

      </form>
    </div>

    <div class="event_detail--comments" *ngIf="!commentInputArea">
      <button (click)="showCommentInputArea()">Add comment</button>

      <div class="viewport" ui-scroll-viewport>
        <div  *uiScroll="let comment of datasource; let index = index">
          
          <app-comment
          *ngIf="!commentDeleted"
          [comment]="comment" 
          [eventId]="eventId"
          ></app-comment>

        </div>
      </div>


    </div>
  </div>


</div>
