<div class="event_detail">

    <!-- ///////////////////////////////////////
                  EVENT SHOWCASE SECTION   
   ///////////////////////////////////////////-->


    <div class="event_detail--image-container" *ngIf="!edit">
        <img src="{{ event?.picture }}" alt="">
      </div>

  <div *ngIf="!edit">
    <p>
      Event location: {{event?.location}}
    </p>

    <p>
      Event distance: {{event?.distance}} km
    </p>
    <p>
      Event date: {{event?.eventDate}}
    </p>
    <p>
      Event Pace: {{event?.pace}}
    </p>
    <p>
      Likes: {{ event?.likes.length }}
    </p>
    <p>
      Runners: {{ event?.runners.length }}
    </p>

    <p>
      Creator of the event: <a [routerLink]="['/userpage', creatorId]">{{ eventCreatorName }}</a> 
    </p>
    <div *ngIf="creatorId === userId">
      <button (click)="update()">Edit</button>
      <button (click)="deleteEvent()">Delete</button>
    </div>

    <div>
      <button routerLink="/events">Back</button>
      <button (click)="likeEvent()">Like</button>
      <button (click)="takePart()">Take part</button>
    </div>
  </div>

    <!-- ///////////////////////////////////////
                   UPDATE EVENT SECTION   
   ///////////////////////////////////////////-->


  <div class="events_add_modul" *ngIf="edit">
    <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">

        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview"> 
            <img [src]="imagePreview" alt="avatar">
        </div>
  

      <label for="location">Location</label>
      <input type="text" placeholder="location"  formControlName="location" id="location">

      <label for="distance">Distance</label>
      <input type="number" placeholder="Distance" [(ngModel)]="event.distance" formControlName="distance" id="distance">

      <label for="pace">Pace</label>
      <input type="text" placeholder="Pace" [(ngModel)]="event.pace" formControlName="pace" id="pace">

      <button  type="button" (click)="filePicker.click()">Change event photo</button>
      <input type="file" #filePicker (change)="onImagePicked($event)"> 


      <label for="eventDate">Date of Event</label>
      <input type="date" placeholder="eventDate" [(ngModel)]="event.eventDate" formControlName="eventDate" id="eventDate">

      <div>
        <button type="submit">Update event</button>
        <button (click)="update()">Cancel</button>
      </div>

    </form>
  </div>

  <hr>

  <!-- ///////////////////////////////////////
                   COMMENT SECTION   
   ///////////////////////////////////////////-->

  <div>
    <h1>comments</h1>

    <div *ngIf="commentInputArea">
      <form [formGroup]="commentForm" (ngSubmit)="add_Comment()">

        <label for="content">Comment:</label>
        <textarea formControlName="content" id="content" cols="30" rows="10"></textarea>

        <div>
          <button type="submit">Post</button>
          <button (click)="showCommentInputArea()">Cancel</button>
        </div>

      </form>
    </div>



    <div>
      <button (click)="datasource.adapter.showLog()">Console Log</button>
    </div>

    <div class="event_detail--comments" *ngIf="!commentInputArea">
      <button (click)="showCommentInputArea()">Add comment</button>

      <div class="viewport" ui-scroll-viewport>
        <div *uiScroll="let comment of datasource; let index = index">
          <p>{{ index }}</p>
          <app-comment
          *ngIf="!commentDeleted"
          [comment]="comment" 
          [eventId]="eventId"
          ></app-comment>

        </div>
      </div>

        <!-- <div *ngIf="comments.length >= 1">
          
          <div  *ngFor="let comment of comments; let index = 'index'">
            <app-comment
            *ngIf="!commentDeleted"
            [comment]="comment" 
            [eventId]="eventId"
            ></app-comment>
          </div>
        </div> -->

        <!-- <div class="viewport"> 
            <div *uiScroll="let comment of datasource"> 
                <app-comment 
                *ngIf="!commentDeleted"  
                [comment]="comment" 
                [eventId]="eventId" 
                ></app-comment> 
            </div>
          </div> -->



      <div *ngIf="comments.length === 0">
        <h2>No comments posted... Be the first one!</h2>
      </div>


    </div>
  </div>


</div>
