@import url('https://fonts.googleapis.com/css?family=Cinzel');

$darkBlue: rgb(14, 35, 105);
$highlightBlue: #42528b;
$grey: rgb(184, 174, 174);
$backgroundColor: #e9ebee;
$linkTextColor: yellow;

$fontMenu: 'Cinzel', serif;