
.main {
    z-index: 1;
}

.comment-main {
    display: flex;
    flex-direction: column;
}

.comment-main-header {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: baseline;
    justify-content: space-between;
}

.comment-main-quote{
    display: flex;
    flex-direction: column;
    width: 97%;

    p:last-child {
        position: relative;
        margin-left: 1rem;
        &:after {
            content: "\201D";
            font-size: 1.5rem;
            margin-top: .5rem;
        }
    
        &:before {
            content: "\201C";
            font-size: 1.5rem;
        }
    }


}

.comment-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.comment-main-settings {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
    }

    .reply, .report {
        width: 100px;
        height: 50px;
        margin-bottom: 0.4rem;
        outline: none;
    }

    .reply {
        background: #0e2369;
        color: white;

        &:active {
            background: #1f3da1;
        }
    }

    .report {
        background: red;
    }
}

i {
    font-size: 1.2rem;

    &.delete {
        color: red;
    }
}
