@import "./variables";

.general-component--list {
    width: 98%;
}

.general-category--main {
    width: 100%;
    text-align: center;
    background: $darkBlue;
    color: white;
}   

.general-component--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #7289d652;
    cursor: text;
    &:nth-child(even) {
        background: #a8b9e0;
    }

    .general-component--item-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;

    i , p, .settings{
        text-align: center;
    }
    }


} 

.general-component--item-icon {
    width: 20%;
}


.general-component--item-desc {
    width: 80%;
    border-left: 2px solid white;
    text-align: center;
}

.general-component--item-topicsCount{
    display: none;
}

.general-component--item-postCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.general-component--item-lastPost {
    display: none;
    // max-width: 10%;
    
    // a {
    //     color: #2229d5;
    //     &:hover {
    //         color: #d52298;
    //     }
    // }

}

.navigation {

    ul {
      list-style: none;
      padding: 10px;
      font-size: 1rem;
      background: rgba(0, 0, 0 , .2);
      border-radius: 15px;
      width: 220px;
  
      li {
        outline: none;
        padding: 10px 0;
        background: #3498db;
        border: 0 #3498db;
        position: relative;
        margin-bottom: 2px;
        text-align: center;
  
        a{
          margin-right: 20px;
          word-break: break-word;
        }
    
        &:hover {
          background: #7493da;
          border-color: #7493da;
          margin-top: 5px;
          margin-bottom: 20px;
          cursor: pointer;
        }
  
        &:before,
        &:after {
          content: "";
          border: 10.5px solid transparent;
          position: absolute;
        }
  
        &:before {
          top: 0;
          right: 50%;
          border-top-color: #babcbe;
        }
  
        &:after {
          bottom: -21px;
          right: 50%;
          border-top-color: inherit;
          z-index: 1;
        }
  
        &.active {
          background: #2c58ee;
          border-color: #2c58ee;
          color: yellow;
          margin-top: 15px;
          margin-bottom: 10px;
          cursor: not-allowed;
      }
  
        &:first-child {
          border-radius: 10px 10px 0 0;
          padding-top: 10px;
          margin-top: 0;
          
          &:before {
            content: none;
          }
        }
  
        &:last-child {
          border-radius: 0 0 10px 10px;
          padding-bottom: 10px;
          margin-bottom: 0;
          
          &:after {
            content: none;
          }
        }
      }
    }
  }


  @media only screen and (min-width: 1200px){

    .general-component--item-lastPost {
      display: block;

          a {
        color:  $darkBlue;
        &:hover {
            color: $brightBlue;
        }
    }
    }
  }