@import './variables';

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e9ebee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  // margin-top: 1.9rem;
}

ngx-recaptcha2 {
  transform: scale(0.6);
}

.mainPopUp {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.mat-dialog-title {
  text-align: center;
}


//////////////// INPUT FIELDS

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}


.formButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 4px 4px 12px black;
  margin-bottom: 1rem;
  width: 235px;
}


.image-preview {
  width: 100%;

  img {
    width: 100%;
  }
}

.buttonMain {

  width: 70%;
  text-align: center;
  padding: 10px;
  margin: 1rem;
  background: $darkBlue;
  color: white;
  list-style-type: none;
    outline: none;
  &.active {
    background: #42528b;
  }
}

.sendMessage {
width: 100px;
height: 50px;
background: #0e2369;
color: white;
outline: none;
&:active {
  background: #1f3da1;
}
}

.arrow_box {
  outline: none;
  margin-top: 1rem;
  position: relative;
  width: 150px;
  height: 50px;
  background: #0e2369;
  border-top: 4px solid #542771;
  
  font-size: 1.5rem;
  color: white;

  &.solid {
    border: 4px solid #542771;

    &:active {
      border: none;
      background: #0e2369;
      border-bottom: 4px solid black;
      border-right: 4px solid black;
      border-style: inset;
    }
  }

  &.opened {
    margin-bottom: 2rem;
    border-top: none;
    border-bottom: 4px solid #542771;
    &:after, &:before {
      border-top: none;

      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #0e2369;
      border-width: 30px;
      margin-left: -30px;
    }
    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #542771;
      border-width: 36px;
      margin-left: -36px;
    }
  }

  
}


mat-form-field {
  width: 90%;
}


.google_map {
  display: contents;
}


input[type="file"] {
  visibility: hidden;
  margin: 0;
  width: 0;
}

@media only screen and (min-width: 480px){
  .add-comment {
    margin-bottom: 2rem;
    width: 100%;
  }
}

@media only screen and (min-width: 540px) {
  ngx-recaptcha2 {
    transform: scale(1);
  }
}
