@import './variables';

.main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: #e9ebee;
  align-items: center;

}

.mainPopUp {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.mat-dialog-title {
  text-align: center;
}


//////////////// INPUT FIELDS

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}


.formButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}



.image-preview {
  width: 100%;

  img {
    width: 100%;
  }
}

button {
  // font-family: 'Bungee Inline', cursive;
  // font-size: 1rem;
  // width: 150px;
  // height: 3rem;
  // margin-top: 0.5rem;
  // border-radius: 25%;
  // background: $darkBlue;
  // margin-bottom: 1rem;
  // color: #ffffff;
  // border: none;
  // -webkit-box-shadow: -2px 8px 46px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: -2px 8px 46px 0px rgba(0,0,0,0.75);
  // box-shadow: -2px 8px 46px 0px rgba(0,0,0,0.75);
  // &:active {
  //   background: #ffffff;
  //   color: $darkBlue;
  //   box-shadow: inset 0px -2px 29px 5px rgba(0, 0, 0, 0.15);

  // }

  // &:focus {
  //   outline: none;
  //   box-shadow: inset 0px -2px 29px 5px rgba(0, 0, 0, 0.15);

  // }

  width: 70%;
  text-align: center;
  height: 100%;
  padding: 10px;
  margin: 1rem;
  background: $darkBlue;
  color: white;
  list-style-type: none;
    outline: none;
  &.active {
    background: #42528b;
  }

}

.google_map {
  display: contents;
}


input[type="file"] {
  visibility: hidden;
  margin: 0;
  width: 0;
}