<div class="main">

    <form class="mainPopUp" [formGroup]="resetPasswordForm" (ngSubmit)="onReset()">  
       
        <mat-form-field>           
            <input matInput placeholder="Password"  formControlName="password">
            <mat-error *ngIf="resetPasswordForm.get('password').errors">Password is <strong>requied</strong>!</mat-error>
        </mat-form-field> 

        <mat-form-field>           
            <input matInput placeholder="Confirm Password"  formControlName="confirmPassword">
            <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors">Confirm Password is <strong>requied</strong>!</mat-error>
        </mat-form-field>

         
            <input type="hidden" placeholder="Confirm Password"  formControlName="resetToken">
            <input type="hidden" placeholder="userId"  formControlName="userId">

        <button type="submit">Reset Password</button>
    </form>

</div> 