<p class="mat-dialog-title" mat-dialog-title>CONTACT US</p>
<div >


  <form  [formGroup]="sendEmailForm" (ngSubmit)="onSend()">

    <mat-form-field>           
          <input matInput placeholder="Your email"  formControlName="email">
          <mat-error *ngIf="sendEmailForm.get('email').errors">Email is <strong>required</strong>!</mat-error>
      </mat-form-field> 

      <mat-form-field>           
        <input matInput placeholder="Your full name"  formControlName="fullName">
    </mat-form-field> 

      <mat-form-field>           
        <input matInput placeholder="Your subject"  formControlName="subject">
        <mat-error *ngIf="sendEmailForm.get('subject').errors">Subject is <strong>required</strong>!</mat-error>
    </mat-form-field> 


      <mat-form-field>
        <textarea matInput placeholder="Your message" formControlName="message"></textarea>
        <mat-hint>Location description!</mat-hint>
        <mat-error *ngIf="sendEmailForm.get('message').errors">Message is required</mat-error>
      </mat-form-field>

      <ngx-recaptcha2 #captchaId
      [siteKey]="siteKey"
      [size]="compact"
      [hl]="en"
      [theme]="light"
      [type]="image"
      [tabIndex]="1000"
      [useGlobalDomain]="false"
      formControlName="recaptcha">
    </ngx-recaptcha2>

    <button  class="buttonMain" type="submit">Send message</button>

    
  <p *ngIf="sendEmailForm.invalid && sendEmailForm.touched">Please check your form</p>

</form>

<!-- <button (click)="reset()">Reset</button>
<button (click)="getInfo()">getInfo</button> -->

</div>
