.general-add {
    display: flex;
    flex-direction: column;
}

app-forum-item {
    cursor: pointer;
}

mat-form-field {
    margin-top: 2rem;
}

button {
    &.arrow_box {
        margin-bottom: 3rem;
        font-size: 1rem;
    }
}

