<!-- <div  *ngIf="!commentDeleted">


  <mat-card class="comment" *ngIf="!showEditCommentForm">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="{{ comment.authorImage }}" alt="User avatar">
        <mat-card-title>Author: <a [routerLink]="['/userpage', comment.authorId, 'info']">{{ comment.author }}</a>  </mat-card-title>
        <mat-card-subtitle><p>Posted: {{ timeAgo}}</p></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
            {{ comment.content }} 
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="comment.authorId === userId">
        <mat-icon (click)="showEditCommentInputArea()" class="comment_main--showcase_avatar-edit"> create </mat-icon>
        <mat-icon (click)="deleteComment()" class="comment_main--showcase_avatar-delete"> delete_sweep </mat-icon>
      </mat-card-actions>
    </mat-card>

  <div class="editForm" *ngIf="showEditCommentForm">
    <form [formGroup]="editCommentForm" (ngSubmit)="edit_Comment()">

      <label for="content">Comment:</label>
      <br>
      <textarea formControlName="content" [(ngModel)]="comment.content" id="content" cols="30" rows="5"></textarea>

      <div>
        <button>Update</button>
        <button (click)="showEditCommentInputArea()">Cancel</button>
      </div>

    </form>
  </div>

</div> -->

<div class="main" *ngIf="!commentDeleted">
  <div class="comment-main">

  </div>
  <div class="comment-main-header">
    <h3><a [routerLink]="['/userpage', comment.authorId, 'info']">{{ comment.author }}</a></h3>

    <span>Posted: {{ timeAgo}}</span>

  </div>
  <div class="comment-main-quote" *ngIf="comment.quote">
   <p>reply to: {{comment.quote.quoteAuthor}}</p>
   <p>{{comment.quote.content}}</p>
   <!-- <p>reply to: comment?.quote.quoteAuthor</p>
   <p>comment?.quote.content</p> -->
  </div> 
  <!-- *ngIf="!updateField && !replyField" 
  *ngIf="!updateField && !replyField && comment?.quote" -->
  <div class="comment-main-content" >
    <p>{{ comment.content }} </p>
  </div>
  <div class="comment-main-settings" *ngIf="!updateField && !replyField">
    <div *ngIf="comment.authorId === userId">
      <i class="material-icons" (click)="updateCommentToggle()">settings</i>
      <i class="material-icons delete" (click)="deleteComment()">delete_sweep</i> 
    </div>
    <button class="report" (click)="reportComment()">Report</button>
    <button class="reply" (click)="replyFieldToggle()"><i class="material-icons">
      reply
      </i></button>
  </div>
      <form *ngIf="updateField" class="add-comment" [formGroup]="updateCommentForm" (ngSubmit)="updateComment()">
          <mat-form-field>
              <textarea matInput placeholder="Content" formControlName="content"></textarea>
              <mat-error *ngIf="updateCommentForm.get('content').errors">Content is required</mat-error>
            </mat-form-field>
            <button  class="sendMessage" type="submit"><i class="material-icons">
              send
              </i></button>
            <i class="material-icons" (click)="updateCommentToggle()">clear</i> 
      </form>

      <form *ngIf="replyField" class="add-comment" [formGroup]="replyToCommentForm" (ngSubmit)="replyToComment()">
        <mat-form-field>
            <textarea matInput placeholder="Content" formControlName="content"></textarea>
            <mat-error *ngIf="replyToCommentForm.get('content').errors">Content is required</mat-error>
          </mat-form-field>
          <button class="sendMessage" type="submit"><i class="material-icons">
            send
            </i></button>
          <i class="material-icons" (click)="replyFieldToggle()">clear</i> 
    </form>
      
</div>
