.comment_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_main--showcase {
    width: 100%;
    display: grid;
    grid-template-areas: "avatar author author author"
                         ". content content content";
    grid-template-columns:  1fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
}                        

.comment_main--showcase_avatar {
    grid-area: avatar;

    height: 100%;
    img {
        width: 100%;
        height: 100%;
        max-height: 50px;
        max-width: 50px;
        border-radius: 50%;
        margin-top: 10%;
    }


}

.comment_main--showcase_author {
    grid-area: author;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .comment_main--showcase_avatar-edit {
        color: aqua;
        transform: rotateY(180deg);
    }

    .comment_main--showcase_avatar-delete {
        color: #e71111;
    }
    
}

.comment_main--showcase_content {
    grid-area: content;
}