@import '../../global-css/variables';

:host-context(.evenStyle) .main {
    background: $evenColor;
    margin-bottom: 1rem;
    position: relative;
    // box-shadow: -4px 6px 12px 0px black;
}

:host-context(.oddStyle) .main {
    background:  $oddColor;
    margin-bottom: 1rem;
    position: relative;
    // box-shadow: 6px 6px 12px 0px black;
}

:host-context(.evenStyle) .comment-main-quote {
    background: $oddColor;
}

:host-context(.oddStyle) .comment-main-quote {
    background:  $evenColor;

}

@media only screen and (min-width: 480px) and (orientation: portrait) {
    .comment-main-content  {
        width: 100%;
    }
  }

