@import '../../global-css/variables';

.comment-main-content  {
    width: 235px;
}

:host-context(.evenStyle) .main {
    background: #dbe0f1;
    margin-bottom: 1rem;
    position: relative;
    // box-shadow: -4px 6px 12px 0px black;
}

:host-context(.oddStyle) .main {
    background:  #a8b9e0;
    margin-bottom: 1rem;
    position: relative;
    // box-shadow: 6px 6px 12px 0px black;
}

:host-context(.evenStyle) .comment-main-quote {
    background: #9fa79f;
}

:host-context(.oddStyle) .comment-main-quote {
    background:  #f0dcea;

}