<div class="comment_main" *ngIf="!commentDeleted">

  <div class="comment_main--showcase" *ngIf="!showEditCommentForm">
    <div class="comment_main--showcase_avatar">
      <img src="{{ comment.authorImage }}" alt="">
    </div>
    <div class="comment_main--showcase_author">
            <h2>By  <a [routerLink]="['/userpage', comment.authorId]">{{ comment.author }}</a></h2>
            <div *ngIf="comment.authorId === userId">
                    <mat-icon (click)="showEditCommentInputArea()" class="comment_main--showcase_avatar-edit"> create </mat-icon>
                    <mat-icon (click)="deleteComment()" class="comment_main--showcase_avatar-delete"> delete_sweep </mat-icon>
            </div>


    </div>

    <div class="comment_main--showcase_content">
            <p>content: {{ comment.content }}</p>
    </div>

  </div>

  <div class="editForm" *ngIf="showEditCommentForm">
    <form [formGroup]="editCommentForm" (ngSubmit)="edit_Comment()">

      <label for="content">Comment:</label>
      <br>
      <textarea formControlName="content" [(ngModel)]="comment.content" id="content" cols="30" rows="5"></textarea>

      <div>
        <button>Update</button>
        <button (click)="showEditCommentInputArea()">Cancel</button>
      </div>

    </form>
  </div>

</div>
