@import '../../../../global-css/variables';

.main {
    width: 100%;
}    

.general-component--item {
    width: 100%;
    z-index: 2;
}

:host-context(.evenStyle) .general-component--item {
    background: $evenColor;
}

:host-context(.oddStyle) .general-component--item {
    background:  $oddColor;
}
h2 {
    word-break: break-all;
}

.general-component--item-desc {
    background: inherit;
    z-index: 3;
}


@media screen and (min-width: 480px){
    .main {
        margin-top: 0rem;
    }
        }

@media only screen and (min-width: 800px) {
 .main {
    width: 100%;
}    
  }

