@import '../../../../global-css/variables';

.main {
    width: 95%;
}    

.general-component--item {
    width: 100%;
    z-index: 2;
}

:host-context(.evenStyle) .general-component--item {
    background: #7289d6;
}

:host-context(.oddStyle) .general-component--item {
    background:  #8a9fd1;
}
h2 {
    word-break: break-all;
}

.general-component--item-desc {
    background: inherit;
    z-index: 3;
}
