<div>

  <div *ngIf="!editMode" class="general-component--item">
    <div class="general-component--item-icon">
        <i class="material-icons">
              {{post.icon}}
              
            </i>
            <p>views: {{post.visitsCount}}</p> 
            <!-- <div class="settings">
             <i class="material-icons" (click)="updateModeToggle()">settings</i> 
             <i class="material-icons" (click)="deleteSection()">delete_sweep</i> 
            </div> -->
      </div>
      <div class="general-component--item-desc">
        <h2> <a (click)="openPostDetail(post._id)">{{post.title}}</a></h2>
        <p>{{post.description}}</p>
      </div>
      <div class="general-component--item-postCount">
          <h2>45</h2>
          <p>replies</p>
      </div>
      <div class="general-component--item-lastPost">
          <p>Last comment by < name > on < post date ></p>
      </div>
  </div>
</div>