<div class="main">

  <div *ngIf="!editMode" class="general-component--item" (click)="openPostDetail(post._id)">
    <div class="general-component--item-icon">
        <i class="material-icons">
              {{post.icon}}
              
            </i>
            <p>views: {{post.visitsCount}}</p>
      </div>
      <div class="general-component--item-desc">
        <h2> <a >{{post.title}}</a></h2>
        <p>{{post.description}}</p>
      </div>
      <div class="general-component--item-postCount">
          <h2>{{commentsCount}}</h2>
          <p>replies</p>
      </div>
      <div class="general-component--item-lastPost" *ngIf="post.lastComment">
          <p>Last comment by {{post.lastComment.username}} on {{commentDate}}</p>
      </div>
  </div>
</div>