<div class="main">

  <form class="main" [formGroup]="freindsInviteForm" (ngSubmit)="submit()">

      <li (click)="show('following')">You are following</li>
    <p *ngIf="user?.following.length <= 0" [@shrinkDownUp]="following_animation_state"> You are not following anyone</p>

         <div class="users" *ngFor="let following of user?.following; let i = index" [@shrinkDownUp]="following_animation_state">
            <div class="user_container">
                <div class="user_container--image"><img src="{{following.imagePath}}" alt=""></div>

                <div class="user_container--check">
                    <div><a [routerLink]="['/userpage', following._id, 'info']" routerLinkActive="router-link-active" >{{following.username}}</a></div>
                    <mat-checkbox [checked]="checkIfIdincludedInInvites(following._id)" class="example-margin" (change)="onChange($event)" [value]="following._id">
                       <p *ngIf="!checkIfIdincludedInInvites(following._id)">Invite to Event</p>
                       <p *ngIf="checkIfIdincludedInInvites(following._id)">Already invited</p>
                     </mat-checkbox>
                </div>


              </div>

         </div>


         <li (click)="show('followers')">Following you</li>
         <p *ngIf="user?.followers.length <= 0" [@shrinkDownUp]="followers_animation_state"> You have no followers</p>
     
              <div class="users" *ngFor="let followers of user?.followers; let i = index" [@shrinkDownUp]="followers_animation_state">
                 <div class="user_container">
                     <div class="user_container--image"><img src="{{followers.imagePath}}" alt=""></div>
                     <div class="user_container--check">
                        <div><a [routerLink]="['/userpage', followers._id, 'info']" routerLinkActive="router-link-active" >{{followers.username}}</a></div>
                        <mat-checkbox [checked]="checkIfIdincludedInInvites(followers._id)" class="example-margin" (change)="onChange($event)" [value]="followers._id">
                           <p *ngIf="!checkIfIdincludedInInvites(followers._id)">Invite to Event</p>
                           <p *ngIf="checkIfIdincludedInInvites(followers._id)">Already invited</p>
                         </mat-checkbox>
                     </div>

                    </div>

              </div>
      <button type="submit">Submit</button>
   </form>


  <!-- <p>Following</p>
  <p *ngIf="user?.following.length <= 0 "> You are not following anyone</p>
  <div class="users" *ngFor="let following of user?.following">
    <div class="user_container">
      <div class="user_container--image"><img src="{{following.imagePath}}" alt=""></div>
     <div><a [routerLink]="['/userpage', following._id, 'info']" routerLinkActive="router-link-active" >{{following.username}}</a></div>
     
    </div>
    <mat-checkbox value="following._id">Check me!</mat-checkbox> 
  </div> -->

</div>
