/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0 0;
    height: 100vh;
}
div[style*="visibility: hidden; position: absolute;"] {
    position: fixed !important;
}

div[style*="visibility: visible; position: absolute;"] {
    position: fixed !important;
    z-index: 1000;
    transform: scale(.6);
}


div[style*="position: absolute; transition: visibility"] {
    position: fixed !important;
    z-index: 1000;
    transform: scale(1);
}