<p class="mat-dialog-title" mat-dialog-title>LOGIN</p>
<div class="mainPopUp">

  <form  [formGroup]="logInFrom" (ngSubmit)="onlognin()">

      <mat-form-field>           
            <input matInput placeholder="Email"  formControlName="email">
            <mat-error *ngIf="logInFrom.get('email').errors">Email is <strong>requied</strong>!</mat-error>
        </mat-form-field> 

        <mat-form-field>           
                <input matInput placeholder="Password"  formControlName="password" [type]="hide ? 'password' : 'text'"> 
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Password min lenght 8 and hard to guess</mat-hint>
                <mat-error *ngIf="logInFrom.get('password').errors">Password is must be min lenght 8 symbols!</mat-error>
            </mat-form-field>

      <button *ngIf="!pressedLogin" class="buttonMain" type="submit">LogIn</button>
    <p *ngIf="logInFrom.invalid && logInFrom.touched">Please check your form</p>

  </form>

  <mat-progress-spinner
  *ngIf="!loaded && pressedLogin"
  [mode]="mode"
  ></mat-progress-spinner>

  <a [routerLink]="['auth/resetPassword']" (click)="onClose()">forgot your password?</a> 

</div>

