<p class="mat-dialog-title" mat-dialog-title>LOGIN</p>
<div class="mainPopUp">

  <form  [formGroup]="logInFrom" (ngSubmit)="onlognin()">

      <!-- <div class="inputContainer">
          <input [class.active]="logInFrom.get('email').value?.length" type="email" formControlName="email" id="email">
          <label for="email" class="label-name">
          <span class="content-name">Email</span>
          <span class="error-name">Please check your email!</span>
          </label>
      </div> -->

      <mat-form-field>           
            <input matInput placeholder="Email"  formControlName="email">
            <mat-error *ngIf="logInFrom.get('email').errors">Email is <strong>requied</strong>!</mat-error>
        </mat-form-field> 

        <mat-form-field>           
                <input matInput placeholder="Password"  formControlName="password" [type]="hide ? 'password' : 'text'"> 
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Password min lenght 8 and hard to guess</mat-hint>
                <mat-error *ngIf="logInFrom.get('password').errors">Password is must be min lenght 8 symbols!</mat-error>
            </mat-form-field>

      <!-- <div class="inputContainer">
          <input [class.active]="logInFrom.get('password').value?.length"  type="password" formControlName="password" id="password">
          <label for="password" class="label-name">
          <span class="content-name">password</span>
          <span class="error-name">Please check your password!</span>
          </label>
      </div> -->

      <button type="submit">LogIn</button>
    <p *ngIf="logInFrom.invalid && logInFrom.touched">Please check your form</p>

  </form>

</div>

