
<button class="map_button" *ngIf="animation_state === 'up'" (click)="toggle_animation_state()">Show Map</button>
<button class="map_button"  *ngIf="animation_state === 'down'" (click)="toggle_animation_state()">Close Map</button>
<div #gmap class="gmap" [@dropDownUp]="animation_state">

</div>

<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=London%20US&key=AIzaSyBxFRd0NZGfovfcsv4he0R1m2Xl2KuwZ1U" allowfullscreen></iframe> -->

<!-- <script src=googleUrl async defer></script>  -->
