<div class="main">
  <div class="image">
    <img src="../../../assets/14715666_10209412657691030_5374534727499663114_o.jpg" alt="">
  </div>
  <div class="first-section">
    <div class="inside-container">
      <h1 class="text">Welcome to the Lets Run</h1>
      <p class="text">Lets run it's website about running events. Create, find and participate at event's </p>
      <!-- <div class="image">
        <img src="../../../assets/14715666_10209412657691030_5374534727499663114_o.jpg" alt="">
      </div> -->
      <p class="text">You can create new event's public or private and invite only the one you want!</p>
      <p class="text lineHeight">We have served: <span>15</span> events!</p>
      <p class="text textRotated">Find new events <a href="">now!</a></p>
    </div>
  </div>
  <div class="second-section">
    <div class="inside-container">
      <h1 class="text2  textRotated2">Read our forum section!</h1>
      <p class="text2">Don't forget to look at our forum, maybe you can find something useful where too!</p>
      
      <div>
        <p class="text2 info">We have</p>
        <p class="text2 info">over<span class="span2">15</span> topics</p>
        <p class="text2 info">in <span class="span2">15</span> posts</p>
        <p class="text2 info">with <span class="span2">15</span> comments</p>
      </div>
        <p class="text2 textRotated2"><a href="">Check out!</a></p>
    </div>
  </div>



  
</div>