.first-section,
.second-section {
  display: inline-block;
  width: 100%;
  .section-image {
    display: none;
  }
}

.first-section {
  background: #2447b9;
  position: relative;
  z-index: 3;
}

.second-section {
  background: #007bff;
  position: relative;
  z-index: 4;
  &:after {
    content: "";
    overflow: hidden;
    position: absolute;
    border-style: solid;
    top: -100px;
    left: 0;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent #007bff transparent;
  }
}

.external_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inside-container {
    // grid-area: text;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
}

span {
  background: #007bff;
  font-size: 2rem;
  padding: 12px;
  border-radius: 33px;
  border: 4px solid #9191ff;
  color: wheat;
}

.span2 {
  width: 100px;
  background: #2447b9;
  font-size: 2rem;
  padding: 12px;
  border-radius: 33px;
  border: 4px solid #9191ff;
  color: #e3d62c;
}

.images {
  width: 100%;
  height: 120vh;
  position: relative;
}

.image {
  h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    color: #0f246a;
    text-shadow: 1px 1px 0px #ffffff, 2px 2px 4px #421c1c;
  }
  position: relative;
  width: 100%;
  height: 60%;
  
  div {
    width: 100%;
    height: 100%;
    display:block;
    background-size: cover;
    position: relative;

    // &:after {
    //   content: "";
    //   z-index: -1;
    //   transform: scale(1.05);
    //   position: absolute;
    //   background-image: inherit;
    //   background-size: cover;
    //   filter: blur(20px);
    //   width: 100%;
    //   height: 100%;
    // }
  }

    img{
        width: 100%;
        position: absolute;
        &.blurred {
          position: absolute;
          width: 100%;
          filter: blur(6px);
          transform: translateY(15px);
          z-index: -1;
        }
    }

    &.first {
      max-width: 229px;
      width: 40%;
      position: absolute;
      right: 40%;
      z-index: 1;
      top: 14%;


    }

    &.second {
      max-width: 229px;
      width: 40%;
      position: absolute;
      z-index: 1;
      right: 10%;
      top: 30%;
    }
    
    &.third {
      max-width: 302px;
      z-index: 3;
      width: 40%;
      position: absolute;
      top: 45%;
      right: 45%;
    }
}

.text {
    color: #e4d72c;
    margin: 1rem 0.5rem;
    font-size: 2rem;

    a {
      color: #9191ff;
      text-decoration: none;
      cursor: pointer;
    }
}

.text2 {
  color: #ffffff;
  margin: 1rem 0.5rem;
  font-size: 2rem;
  z-index: 1;

 &:last-of-type {
   margin-bottom: 3rem;
 }

  a {
    color: #9191ff;
    text-decoration: none;
    cursor: pointer;
  }
}

.lineHeight {
  line-height: 53px;
}

.info {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.textRotated{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 360px) {
  .image {
    h1 {
      font-size: 2rem;
    }
  }

  .textRotated{
    font-size: 2rem;
  }
  }

  @media only screen and (min-width: 610px) { 

    .first-section, .second-section {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inside-container {
        margin: 10% 2%;
        background-color: #1a181894;
        border-radius: 8%;
      }
      .section-image {
        // grid-area: icon;
        display: block;
        z-index: -1;
        img {
          max-width: 500px;
          width: 100%;
          border-radius: 13%;
          transform: translateX(-12%) rotate(9deg);
        }
      }
    }

  }


// @media only screen and (min-width: 400px) {
//   .images {
//     height: 100vh;
//   }
//   }

  @media only screen and (min-width: 800px) {
    .images {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      // height: 100vh;
    }
    .image {

      position: relative;

    
        &.first {
          max-width: 30%;
          position: unset;
        }
        &.second {
          max-width: 30%;
          position: unset;
        }
        
        &.third {
          max-width: 30%;
          position: unset;
        }
    }
    }


    @media only screen and (orientation: landscape) {
      .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        // height: 120vh;
      }
    
      .image {
    
        position: static;
    
        img{
          width: 100%;
          position: absolute;
          &.blurred {
            position: absolute;
            width: 100%;
            filter: blur(6px);
            transform: translateY(15px);
            z-index: -1;
          }
      }
      
          &.first {
            max-width: 30%;
            position: static;
          }
          &.second {
            max-width: 30%;
            position: static;
          }
          
          &.third {
            max-width: 30%;
            position: static;
          }
      }
      }