.first-section,
.second-section {
  width: 100%;
  height: 937px;
}

.first-section {
  background: #2447b9;
  position: relative;
}

.second-section {
  background: #007bff;
  position: relative;
  height: 1050px;
  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    top: -100px;
    left: 0;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent #007bff transparent;
  }
}

.inside-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
  background: #007bff;
  font-size: 2rem;
  padding: 12px;
  border-radius: 33px;
  border: 4px solid #9191ff;
  color: wheat;
}

.span2 {
  background: #2447b9;
  font-size: 2rem;
  padding: 12px;
  border-radius: 33px;
  border: 4px solid #9191ff;
  color: #e3d62c;
}

.image {
    
    img{
        width: 100%;
        display:block
    }
}

.text {
    color: #e4d72c;
    margin: 1rem 0.5rem;
    font-size: 2rem;
}

.text2 {
  color: #ffffff;
  margin: 1rem 0.5rem;
  font-size: 2rem;
}

.lineHeight {
  line-height: 53px;
}

.info {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

}

.textRotated{
  transform: translateY(40px) rotate(-22deg);
}

@media only screen and (min-width: 240px) and (orientation: landscape) {
  .first-section {
    height: 758px;
  }

  .textRotated{
    transform: translateY(40px) rotate(-19deg);
}

.second-section {
  height: 980px;
}
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
  .first-section {
    height: 760px;
  }

  .textRotated{
    transform: translateY(40px) rotate(-18deg);
}

.second-section {
  height: 997px;
}
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .first-section {
    height: 597px;
  }

  .textRotated{
    transform: translateY(40px) rotate(-13deg);
}

.second-section {
  height: 950px;
}
}