
<div class="svgLine">
    <div class="svgImage start">
        <img src="../../../assets/Start.svg" alt="start svg">
    </div>

  <div class="svgImage running">
      <img src="../../../assets/running-people.svg" alt="start svg">
  </div>

  <div class="svgImage finish">
      <img src="../../../assets/finish.svg" alt="start svg">
  </div>
  
</div>
<div class="fLine">

      <!-- <div class="links">
        <p>1</p>
      </div> -->
      <div class="social">
        <div class="image">
          <img src="../../../assets/flogo-HexRBG-Wht-58.png" alt="">
        </div>
        <div class="image">
            <img class="insta" src="../../../assets/glyph-logo_May20162.png" alt="">
          </div>
      </div>
      <div class="contactUs">
        <a (click)="onContactUs()">ContactUs</a>
      </div>
</div>
<div class="sLine">
    <p>All right reserved!</p>
    <p>Created in angular by K.Maxim</p>
    
  <!-- <div>
      <p>Created in angular by K.Maxim</p>
      <p>All right reserved!</p>
  </div> -->

</div>
