@import "../../global-css/variables";

.svgLine {
    position: relative;
    .svgImage{
        width: 35px;
        position: absolute;
        
        
        img {
            width: 100%;
        }
    }

    .start {
        left: 0;
        width: 86px;
        top: -34px;
    }
    
    .running {
        right: 40%;
        top: -24px;
    }
    
    .finish {
        right: 0;
        width: 67px;
        top: -38px;
    }

}




      .fLine {
          display: flex;
          flex-direction: row;
          color: white;
          width: 100%;
          background: $darkBlue;
          align-content: space-between;
          height: 100px;
        .links {
            height: 100%;
            width: 100%;
        }

        .social {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 100%;
            
            .image {
                width: 40px;
                height: 40px;
                
                img {
                    width: 100%;
                    
                    &.insta {
                    color: white;
                    }
                }
            }
        }

        .contactUs {
            display: inherit;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            width: 100%;

            &:active {
                color: yellow;
            }
        }
      }

      .sLine {
        display: flex;
        flex-direction: row;
        align-content: center;
        background: $darkBlue;
        justify-content: space-around;
        color: white;
        width: 100%;
            p {
                &:last-of-type {
                    text-align: right;
                }
            }
      }

      // MEDIA QUERIES

      @media only screen and (min-width: 320px) and (orientation: portrait) {
        .svgLine {
            position: relative;
            .svgImage{
                width: 49px;
                position: absolute;
                
                
                img {
                    width: 100%;
                }
            }
        
            .start {
                left: 0;
                width: 100px;
                top: -38px;
            }
            
            .running {
                right: 50%;
                top: -32px;
            }
            
            .finish {
                right: 0;
                width: 90px;
                top: -50px;
            }
        
        }
      }

      

      @media only screen and (min-width: 480px) and (orientation: portrait) {
        .svgLine {
            position: relative;
            .svgImage{
                width: 49px;
                position: absolute;
                
                
                img {
                    width: 100%;
                }
            }
        
            .start {
                left: 0;
                width: 152px;
                top: -58px;
            }
            
            .running {
                right: 50%;
                top: -32px;
            }
            
            .finish {
                right: 0;
                width: 130px;
                top: -73px;
            }
        
        }
      }

      @media only screen and (min-width: 800px) {
        .svgLine {
            .clouds {
                right: 20%;
                width: 100px;
                top: -55px;
            }
        }
      }

      @media only screen and (min-width: 800px) and (orientation: landscape) {
        .svgLine {
            position: relative;
            .svgImage{
                width: 49px;
                position: absolute;
                
                
                img {
                    width: 100%;
                }
            }
        
            .start {
                left: 0;
                width: 174px;
                top: -67px;
            }
            
            .running {
                right: 55%;
                top: -32px;
            }
            
            .finish {
                right: 0;
                width: 100px;
                top: -55px;
            }
        
        }
      
      }

      @media only screen and (min-width: 800px) {
        .svgLine {
            .clouds {
                width: 140px;
                top: -75px;
            }

            .bench {
                right: 72%;
                width: 50px;
                top: -29px;
            }
        }
      }