@import './global-css/variables';

.container {
display: grid;
grid-template-rows: minmax(100vh, auto) fit-content(20%);
}
// fit-content(10%) 
app-header {
    position: fixed;
    width: 100%;
    z-index: 50;
}

app-footer {
    z-index: 4;
}
main {
    margin-top: 72px;
    background: $backgroundColor;
    overflow: hidden;
}

// @media only screen and (min-width: 600px) {
//     main {
//         margin-top: 123px;
//     }
//       }

    //   @media only screen and (min-width: 800px) and (orientation:landscape) {
    //     main {
    //         margin-top: 123px;
    //     }
    //       }

// @media only screen and (min-width: 800px) and (orientation:portrait) {
//   main {
//       margin-top: 72px;
//   }
//     }

// @media only screen and (min-width: 800px) {
// main {
//     padding-top: 0;
// }
//   }


// div[style*="visibility: hidden; position: absolute;"] {
//     position: fixed !important;
//     top: 2290px !important;
// }

div[style*="visibility: visible; position: absolute;"] {
    // position: fixed !important;
    // z-index: 1000;
    top: 3290px !important;
    // transform: scale(2290px) !important;

    // transform: translateY(2290px) !important;
}


div[style*="visibility: visible; position: absolute;"] {
    // position: fixed !important;
    // z-index: 1000;
    top: 3290px !important;
    // transform: scale(2290px) !important;

    // transform: translateY(2290px) !important;
}