@import './global-css/variables';

.container {
display: grid;
grid-template-rows: minmax(100vh, auto) fit-content(10%);
}
// fit-content(10%) 
app-header {
    position: fixed;
    width: 100%;
    z-index: 50;
}

main {
    padding-top: 20%;
    background: $backgroundColor;
}